.card {
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0.5rem;
  border-color: #000;
  border: solid;

  img {
    width: 15rem;
  }

  span {
    font-size: 1.7em;
    text-align: center;
    padding: 0.5rem;
  }
}
