.navbar {
  background-color: #1b4332;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: #ffff;
    font-size: 1.6rem;
  }

  &__links {
    display: flex;
    &__items {
      list-style: none;
      text-decoration: none;
      color: #ffff;
      margin: 0 0.4rem;
    }
  }
}
